
:root {
    --primary-color: #009688;
    --font-size: 1rem;
    --font-family: 'JetBrains Mono', monospace;
    --border-color: #e0e0e0;
    --border-size: 1px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: var(--font-family);
    font-size: var(--font-size);
}

button {
    border: none;
    font-family: var(--font-family);
    font-size: var(--font-size);
    outline: none;
}

.button-link {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    font-size: .8rem;
    color: white;
    cursor: pointer;
}


table th, table td {
    border-bottom: var(--border-size) solid var(--border-color);
}

table tr:nth-child(even) {
    background-color: #eceff1;
}

.center {
    text-align: center;
}

.bg-red {
    background-color: #f44336;
}

.bg-red:hover {
    background-color: #e53935;
}
