{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>{% block title %}{% endblock %} | Infraestructura de Datos Espaciales del Gobierno Regional de Madre de
        Dios</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Gobierno Regional de Madre de Dios">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'libraries/font_awesome_4/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/web.css' %}">
</head>

<body>
<header>
    <div>
        <div>
        </div>
        <div>
            <ul>
                <li><a href="">MAPA DEL SITIO</a></li>
                <li><a href="">CONTÁCTENOS</a></li>
                <li><a href="">ACCEDER (ADMINISTRACIÓN)</a></li>
            </ul>
        </div>
    </div>
    <div>
        <h1>
            Infraestuctura de Datos Espaciales de Madre de Dios
        </h1>
    </div>
    <nav>
        <ul>
            <li>
                <span>
                    INICIO
                </span>
            </li>
            <li>
                    <span>
                        NOSOTROS
                    </span></li>
            <li>
                    <span>
                        COMITÉ DE GESTIÓN
                    </span></li>
            <li>
                    <span>
                        SERVICIOS
                    </span>
                <ul>
                    <li><a href="">GEOPORTAL GOREMAD</a></li>
                    <li><a href="">CATÁLOGO DE METADATOS</a></li>
                    <li><a href="">CATÁLOGO DE OBJETOS</a></li>
                    <li><a href="">CATÁLOGO DE SERVICIOS (WMS)</a></li>
                    <li><a href="">CENTROS POBLADOS</a></li>
                </ul>
            </li>
            <li>
                    <span>
                        CENTRO DE INFORMACIÓN
                    </span>
            </li>
            <li>
                    <span>
                        CONTÁCTENOS
                    </span>
            </li>
        </ul>
    </nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer class="footer">
    <div class="footer__container">
        <div>
            <img src="https://www.gob.pe/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNHRGQVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--fe1e73cae9763ab42404158a202a178c212baf6a/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNITUdrMSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--dd94c11a62b6ad94669d320039e719bd4bc966cd/logo_horizontal.png"
                 alt="goremad_logo"/>
            <h1 class="footer__title">Infraestuctura de Datos Espaciales</h1>
            <h2 class="footer__subtitle">Gobierno Regional de Madre de Dios</h2>
            <p>

            </p>
        </div>
        <div>
            <h1 class="footer__title">
                Actualidades
            </h1>
        </div>
        <div>
            <h1 class="footer__title">
                Enlaces de interés
            </h1>
            <ul>
                <li><a href="">Gobierno Regional de Madre de Dios</a></li>
                <li><a href="">Gerencia Regional Forestal y Fauna Silvestre</a></li>
                <li><a href="">SERFOR</a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
        <div>
            <h1 class="footer__title">
                Contáctenos
            </h1>
        </div>
    </div>
</footer>
</body>

</html>